<div class="player-list-header">
  <a mat-button routerLink="/players/create">Create new player</a>
</div>

<table mat-table [dataSource]="players$" class="mat-table">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Last Name Column -->
  <ng-container matColumnDef="Last Name">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="First Name">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- Id Column -->
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="Age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <!-- Talent Column -->
  <ng-container matColumnDef="Talent">
    <th mat-header-cell *matHeaderCellDef> Talent </th>
    <td mat-cell *matCellDef="let element"> {{element.talent}} </td>
  </ng-container>

  <!-- Skill Column -->
  <ng-container matColumnDef="Skill">
    <th mat-header-cell *matHeaderCellDef> Skill </th>
    <td mat-cell *matCellDef="let element"> {{element.skill}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>